{% extends "admin/base.html" %}
{% load admin_static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block bodyclass %}flat-theme{% endblock %}

{% block blockbots %}
  {{ block.super }}
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}" />
{% endblock %}
